In [13]:
import pandas as pd
import warnings
import numpy as np
from sqlalchemy import create_engine, Table, MetaData
import urllib.parse
from datetime import datetime
from sqlalchemy.sql import text
import re
import json
import pyodbc
import warnings
import requests
import schedule
from apscheduler.schedulers.blocking import BlockingScheduler
warnings.filterwarnings("ignore")

# Visual Setting
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', 100)  # Adjust for large DataFrames
pd.set_option('display.width', 1000)  # Increase display width
pd.set_option('display.colheader_justify', 'center')  # Center column headers
pd.set_option('display.float_format', '{:,.0f}'.format) 


# DataBase Connection 
# Replace these variables with your actual credentials
username = 'Vaibhav'
password = 'D@taBa$eCreD@2520'
server = '172.16.1.13'
database = 'Ops_Analytics'
    
# Replace special characters in the password
quoted_password = urllib.parse.quote_plus(password)

# Connection string
connection_string = f'mssql+pyodbc://{username}:{quoted_password}@{server}/{database}?driver=ODBC Driver 17 for SQL Server'

# Create the engine
conn = create_engine(connection_string)

try:
    with conn.connect() as connection:
        print("Connection successful!")
except Exception as e:
    print("Connection failed:", e)

today_date = datetime.now().strftime('%Y-%m-%d')

print("Fetching data from DB")

def Dialer_allocation(df, lead_id, action):
    url = f"https://api-smartflo.tatateleservices.com/v1/broadcast/leads/{lead_id}"
    print(url)
    headers = {
        "Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI1NTE1ODciLCJjciI6dHJ1ZSwiaXNzIjoiaHR0cHM6Ly9jbG91ZHBob25lLnRhdGF0ZWxlc2VydmljZXMuY29tL3Rva2VuL2dlbmVyYXRlIiwiaWF0IjoxNzQzODQzMzExLCJleHAiOjIwNDM4NDMzMTEsIm5iZiI6MTc0Mzg0MzMxMSwianRpIjoiSURsdmRjWlhSclJ2OE5VdSJ9.CxhPy9NXVr4VW15dLjcNa_1YW83CH90NVGuzltgJA1U",
        "accept": "application/json",
        "content-type": "application/json"
    }
        
    # Convert DataFrame to required format
    converted_data = {
        "data": df.apply(
            lambda x: {
                "field_0": x["phone_number"],
                "field_1": x["Name"],
                "field_3": x["key"],  # Convert numbers to string if necessary
                "field_4": x["current_Stage"],
                "priority":x["Priority"]
            }, axis=1
        ).tolist(),
        "duplicate_option": f"{action}"
    }

    print(converted_data)
    # Convert to JSON format
    json_output = json.dumps(converted_data, indent=4)
        
    # Send POST request with JSON data/
    response = requests.post(url, headers=headers, json=converted_data)
    print(f"Status: {response.status_code}, Response: {response.json()}")

    return  json_output


def delete_dialer(delete_number, lead_id):
    url = f"https://api-smartflo.tatateleservices.com/v1/broadcast/leads/{lead_id}"

    print(url)
    payload = {
        "field": "field_0",
        "data": delete_number
    }
    print(payload)

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI1NTE1ODciLCJjciI6dHJ1ZSwiaXNzIjoiaHR0cHM6Ly9jbG91ZHBob25lLnRhdGF0ZWxlc2VydmljZXMuY29tL3Rva2VuL2dlbmVyYXRlIiwiaWF0IjoxNzQzODQzMzExLCJleHAiOjIwNDM4NDMzMTEsIm5iZiI6MTc0Mzg0MzMxMSwianRpIjoiSURsdmRjWlhSclJ2OE5VdSJ9.CxhPy9NXVr4VW15dLjcNa_1YW83CH90NVGuzltgJA1U",
        "content-type": "application/json"
    }

    try:
        response = requests.delete(url, json=payload, headers=headers)
        
        # Check if the response is successful
        if response.status_code == 200:
            print("✅ Deletion Successful!")
            print("Response:", json.dumps(response.json(), indent=4))
        else:
            print(f"❌ Failed! Status Code: {response.status_code}")
            print("Error Response:", response.text)

    except requests.exceptions.RequestException as e:
        print("⚠️ API Request Error:", e)
        
    # Get the BSA_core_variable data from DB
def Get_alloc_number():
    # Define your SQL query
    query = r"""--                 
	WITH DISP AS (

						SELECT 

							disposition_name AS Status, 

							RIGHT(client_number, 10) AS Phone, 

							end_stamp AS Interaction_Date, 

							campaign_name AS Company_Name, 

							notes AS Notes, 

							'dialer' AS call_tag,

							[status] as conn, 

							Agent_Name

							FROM RUNO.dbo.Dialer_CDR_report WITH (NOLOCK)

						WHERE campaign_name IN ('ONDC') and status = 'answered'

							AND TRY_CAST(end_stamp AS DATE) >= TRY_CAST(GETDATE() - 60 AS DATE)

					),
	
					-- Get the latest interaction per phone number

					LAST_INTERACTIONS AS (

						SELECT *, ROW_NUMBER() OVER (PARTITION BY Phone ORDER BY Interaction_Date DESC) AS rn 

						FROM DISP

					),
	
					-- Count attempts per phone number

					ATTEMPTS AS (

						SELECT Phone, COUNT(Phone) AS attempts 

						FROM DISP

						GROUP BY Phone

					),
	
					RankedData2 AS (

						SELECT 

							b.phone_number,

							a.transaction_id, 

							b.current_stage, 

							a.created_time,

							b.api_environment,

							ROW_NUMBER() OVER (PARTITION BY b.phone_number ORDER BY a.created_time DESC) AS rn

						FROM [AWSSQL].[ONDC].[dbo].ondc_responses a

						LEFT JOIN [AWSSQL].[ONDC].[dbo].[ondc_users_transaction_id] b

							ON a.transaction_id = b.transaction_id

						WHERE 

							a.action = 'on_select'

							AND TRY_CAST(a.created_time AS DATE) >= TRY_CAST(GETDATE() - 30 AS DATE)

							AND a.api_status = 'ACK'

							AND a.max_amount != ''

							AND a.api_environment = 'PROD'

							AND b.current_stage IN ('104')

					),
	
					rejected_num as (

					SELECT *

					FROM RankedData2 as a

					inner join (select *, ROW_NUMBER() OVER (PARTITION BY mobile_no ORDER BY hit_time DESC) AS rnc

					from Ops_Analytics.dbo.ONDC_Allready_Allocated) as b

					on a.phone_number = b.mobile_no

					WHERE rn = 1 and rnc = 1

					),
	
					
	
					RankedData AS (

						SELECT b.*,

							a.Name, a.mobile_no as num,

							ROW_NUMBER() OVER (

								PARTITION BY b.phone_number 

								ORDER BY TRY_CAST(b.created_time AS datetime) DESC

							) AS rn

						FROM Ops_Analytics.dbo.ONDC_Allready_Allocated AS a

						RIGHT JOIN ( 

						select

							phone_number, 

							transaction_id,

							current_Stage, 

							created_time , 

							api_environment from

						[AWSSQL].[ONDC].[dbo].[ondc_users_transaction_id] where current_stage NOT IN ('104')

						UNION

						select phone_number,

							transaction_id, 

							current_stage, 

							created_time,

							api_environment from rejected_num

						)

						AS b

							ON a.mobile_no = b.phone_number

						WHERE 

							b.current_stage >= 3 

							AND b.current_stage NOT IN ('101','102','103','13')

							AND b.api_environment = 'PROD'

							--AND TRY_CAST(b.created_time AS date) >= TRY_CAST(GETDATE() - 30 AS date)

					),
	
					-- Prepare MIS automation data

					MIS_DATA AS (

						SELECT *

						FROM RankedData

						WHERE rn = 1

					),
	
					-- Final data retrieval
	
					final as (

						Select TI.*, M.* from (

						SELECT 

							LI.Status, LI.Phone, LI.Interaction_Date, LI.Company_Name, LI.conn, LI.Agent_Name,

							LI.Notes, LI.call_tag, A.attempts

						FROM LAST_INTERACTIONS LI

						LEFT JOIN ATTEMPTS A ON LI.Phone = A.Phone

						where LI.rn = 1

						) TI

						Right JOIN MIS_DATA M ON TI.Phone = M.phone_number

					),
	
					lader_name AS (

						SELECT a.updated_time,

							b.phone_number as lender_num, 

							b.current_stage, 

							a.lender_name,

							a.action, 

							a.max_amount, 

							ROW_NUMBER() OVER (PARTITION BY b.phone_number ORDER BY a.created_time DESC) AS rn

						FROM AWSSQL.[ONDC].[dbo].ondc_responses a

						LEFT JOIN AWSSQL.[ONDC].[dbo].[ondc_users_transaction_id] b

							ON a.transaction_id = b.transaction_id

						WHERE 

							a.action = 'on_select'

							AND TRY_CAST(a.created_time AS DATE) >= TRY_CAST(GETDATE() - 30 AS DATE)

							AND a.api_status = 'ACK'

							AND a.max_amount != ''

							AND a.api_environment = 'PROD'

							AND b.current_stage not IN ('107', '102', '12','13')

					),
	
					lender_name2 as (

					select * from lader_name WHERE rn = 1 

					)
	
					SELECT *

					FROM final a left join

					lender_name2 b on a.phone_number = b.lender_num

					AND TRY_CAST(b.updated_time AS date) >= TRY_CAST(GETDATE() - 30 AS date)
 
 
                            """
    core = pd.read_sql(query, conn)
    
    return core

# Get the BSA_core_variable data from DB
def Get_rejected_number():
    # Define your SQL query
    query = r"""---------------------------------Rejected or expired delete -------------------------------------------------
            SELECT 
                RIGHT(dl.field_0, 10) AS num,
                dl.field_1,
                dl.list_name, 
                dl.list_id,
                b.*
            FROM (
                SELECT *
                FROM Ops_Analytics.dbo.Dialer_leads
                WHERE hit_time = (
                    SELECT MAX(hit_time)
                    FROM Ops_Analytics.dbo.Dialer_leads
                )
                AND list_name IN ('ONDC NEW PA 2', 'ONDC Offer leads')
            ) AS dl
            inner JOIN (
            SELECT * 
                    FROM [AWSSQL].[ONDC].[dbo].[ondc_users_transaction_id]
                        WHERE (current_stage in ('101','104','102','103','13', '12'))
                        AND api_environment = 'PROD'
                        
            ) AS b
            ON RIGHT(dl.field_0, 10) = b.phone_number
    """
    core = pd.read_sql(query, conn)
    
    return core

# def run_task():
    
indus_num = Get_alloc_number()
indus_rejected = Get_rejected_number()

indus_num = indus_num.loc[:, ~indus_num.columns.duplicated()]

filter_offer = indus_num[['Status', 'phone_number', 'Name', 'Agent_Name', 'Notes', 'attempts', 'current_Stage', 'lender_name','max_amount','created_time', 'transaction_id']]
# Keep only the first occurrence of each column name


indus_num = indus_num[indus_num['lender_num'].notnull()]
append_new_offer = indus_num[indus_num['Status'].isnull()]

append_new_offer  = append_new_offer[['phone_number', 'Name', 'current_Stage']]
append_new_offer['Priority'] = '30'
append_new_offer['key'] = 'Offer and above'
append_new_offer['Name'] = append_new_offer['Name'].fillna('Unkown')
append_old_offer = indus_num[indus_num['Status'].notnull()]

append_old_offer = indus_num[~indus_num['Status'].isin(['Need Better Offer', 'Final Not Interested', 'others', 'Did Not Speak', 'Do Not Call'])]
append_old_offer  = append_old_offer[['phone_number', 'Name', 'current_Stage']]
append_old_offer['Priority'] = '30'
append_old_offer['key'] = 'Offer and above'
append_old_offer['Name'] = append_old_offer['Name'].fillna('Unkown')

indus_num[indus_num['Status'].notnull()].shape

append_new_offer.shape

Dialer_allocation(append_new_offer, '520253', 'skip')
Dialer_allocation(append_old_offer, '520253', 'overwrite')

indus_rejected['num'] = indus_rejected['num'].astype(str)
indus_rejected['num'] = '+91' + indus_rejected['num']
delete_data = indus_rejected['num'].tolist()
# # Deletion 
delete_dialer(delete_data, 528740) # delete from ONDC new PA batch
delete_dialer(delete_data, 520253) # Delete from ONDC offer batch

df_mail=filter_offer[filter_offer['lender_name'].notnull()]
print(df_mail)

df_mail.to_csv(f'C:/Users/kunal.sharma/Desktop/kunal/db/ONDC offer/offer_num_{today_date}.csv', index=False, header=True)
import pandas as pd
from io import BytesIO
import os
import tempfile
import pythoncom
import win32com.client
import time

buffer = BytesIO()
with pd.ExcelWriter(buffer, engine='openpyxl') as writer:
	df_mail.to_excel(writer, index=False)
buffer.seek(0)

# Step 2: Write buffer to temp file
with tempfile.NamedTemporaryFile(delete=False, suffix='.xlsx') as tmp:
	tmp.write(buffer.read())
	tmp_path = tmp.name

max_retries = 3
try:
	pythoncom.CoInitialize()
	for attempt in range(max_retries):
		try:
			outlook = win32com.client.Dispatch("Outlook.Application")
			mail = outlook.CreateItem(0)

			mail.To = 'kalpana.meda@wecredit.co.in'
			mail.Subject = 'ONDC'
			mail.Body = 'Hi,\n\nToday\'s ONDC OFFER.\n\nThanks.'
			mail.Attachments.Add(tmp_path)

			mail.Send()
			print(f"✅ Email sent successfully. Temporary file used: {tmp_path}")
			break
		except Exception as e:
			print(f"⚠️ Attempt {attempt + 1} failed: {e}")
			if attempt < max_retries - 1:
				time.sleep(3)
			else:
				print("❌ Failed to send email after multiple attempts.")
finally:
	# Optional: Clean up temp file
	if os.path.exists(tmp_path):
		os.unlink(tmp_path)
# scheduler = BlockingScheduler()
# scheduler.add_job(run_task, 'cron', hour=9, minute=15)
# # scheduler.add_job(run_task, 'interval', seconds=10)
# # scheduler.add_job(run_task, 'cron', hour="9-18", minute=0)
# scheduler.start()

Connection successful!
Fetching data from DB
https://api-smartflo.tatateleservices.com/v1/broadcast/leads/520253
{'data': [{'field_0': '6376078496', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '7045232061', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '4', 'priority': '30'}, {'field_0': '7993460013', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '8011992105', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '8239025373', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '8446538061', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '9182510123', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '9326169408', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '9348705902', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '9868741415', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '9905156952', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}], 'duplicate_option': 'skip'}
Status: 200, Response: {'success': True, 'message': 'The request is being processed in the background. Later, you can check the status by batch id in batch_status API.', 'batch_id': '686df86812f1dc6f660fd544'}
https://api-smartflo.tatateleservices.com/v1/broadcast/leads/520253
{'data': [{'field_0': '6200224171', 'field_1': 'Sanjeev kr sahani', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '6266117146', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '6299967722', 'field_1': 'VIJAY  SAW', 'field_3': 'Offer and above', 'field_4': '9', 'priority': '30'}, {'field_0': '6303959523', 'field_1': 'MANDA  SHIVA', 'field_3': 'Offer and above', 'field_4': '104', 'priority': '30'}, {'field_0': '6376078496', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '6397133615', 'field_1': 'SHASHIPAL SINGH  SINGH', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '7020274036', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '7030254912', 'field_1': 'AMOL BANSODE MR', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '7045232061', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '4', 'priority': '30'}, {'field_0': '7068523768', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '7261873458', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '7275532334', 'field_1': 'SHEKHAR  PRAJAPATI', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '7297816126', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '7404261405', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '7600068109', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '7766813746', 'field_1': 'GULSHAN KUMAR', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '7972466804', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '7993460013', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '7999386949', 'field_1': 'Sachin yadav', 'field_3': 'Offer and above', 'field_4': '104', 'priority': '30'}, {'field_0': '8007796864', 'field_1': 'VIJAY PRABHU SAWANT', 'field_3': 'Offer and above', 'field_4': '104', 'priority': '30'}, {'field_0': '8011992105', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '8058125003', 'field_1': 'RATAN LAL SHYORAN', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '8079065870', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '8208217517', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '8239025373', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '8249882781', 'field_1': 'PRAKASH  URMA', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '8284936936', 'field_1': 'JATIN  ARORA', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '8446538061', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '8605476384', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '8637533360', 'field_1': 'Kazi Saifuddin Islam', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '8670912430', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '8766219473', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '8777785770', 'field_1': 'PATEL RAVI', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '8837610341', 'field_1': 'Wazid Ali', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '8839284737', 'field_1': 'Sandeep Pawar', 'field_3': 'Offer and above', 'field_4': '104', 'priority': '30'}, {'field_0': '8866122294', 'field_1': 'Savera Milan Kantibhai', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '8926641526', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '8975059383', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9007977022', 'field_1': 'Niranjan verma', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9014142149', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '9022233258', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '9049045095', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '9096741017', 'field_1': 'MAHESH  MULE', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '9106022593', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9167208976', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9182510123', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '9326169408', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '9337285915', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9348705902', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '9379004058', 'field_1': 'AMREEN  TAJ', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '9380287957', 'field_1': 'Ramu', 'field_3': 'Offer and above', 'field_4': '104', 'priority': '30'}, {'field_0': '9422225224', 'field_1': 'RAJENDRA JAIN RAJAS', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '9490747895', 'field_1': 'M ARVINDKUMAR', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '9518430515', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9527045035', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9529287990', 'field_1': 'ROHIDAS RATHOD', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9540721428', 'field_1': 'Manoj Kumar', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9586489203', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9599412518', 'field_1': 'Rajesh Verma', 'field_3': 'Offer and above', 'field_4': '104', 'priority': '30'}, {'field_0': '9735277918', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '9773030569', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9831719351', 'field_1': 'Babita Mondal', 'field_3': 'Offer and above', 'field_4': '104', 'priority': '30'}, {'field_0': '9836642360', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '9868741415', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '9880773383', 'field_1': 'GOUTAM BARIK', 'field_3': 'Offer and above', 'field_4': '5', 'priority': '30'}, {'field_0': '9890492428', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '4', 'priority': '30'}, {'field_0': '9901154450', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9905156952', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '6', 'priority': '30'}, {'field_0': '9905938609', 'field_1': 'PAPPU KUMAR', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9911425395', 'field_1': 'BRAJ  SINGH', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9913466777', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '4', 'priority': '30'}, {'field_0': '9998342188', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}, {'field_0': '9999610722', 'field_1': 'Unkown', 'field_3': 'Offer and above', 'field_4': '3', 'priority': '30'}], 'duplicate_option': 'overwrite'}
Status: 200, Response: {'success': True, 'message': 'The request is being processed in the background. Later, you can check the status by batch id in batch_status API.', 'batch_id': '686df8687be5761ba20cbb2c'}
https://api-smartflo.tatateleservices.com/v1/broadcast/leads/528740
{'field': 'field_0', 'data': []}
❌ Failed! Status Code: 422
Error Response: {"data":["The data field is required."]}
https://api-smartflo.tatateleservices.com/v1/broadcast/leads/520253
{'field': 'field_0', 'data': []}
❌ Failed! Status Code: 422
Error Response: {"data":["The data field is required."]}
            Status        phone_number           Name             Agent_Name                          Notes                         attempts current_Stage          lender_name          max_amount        created_time                   transaction_id
0    Final not Interested  6200224171        Sanjeev kr sahani  Vandana Jaiswal  {'message': 'need better [roi ] issue bajaj se...      1            6             Bajaj Finance Limited    60000.0  2025-06-10T04:10:40.192Z  cb41e0ce-ab1d-44f7-a063-a6132ee3d31b
2               KYC Issue  6266117146                     None    Tanisha patwa                                               None      6            6             Bajaj Finance Limited     104000  2025-06-17T08:45:43.905Z  d12c89fc-6f1b-434e-8f8d-360344eb84d9
5             Enach Issue  6299967722               VIJAY  SAW  Vandana Jaiswal                                               None      9            9      Aditya Birla Capital Limited      50000  2025-06-13T07:20:03.204Z  7e887df1-1251-41b5-bcdf-a33156d5dccf
6                Rejected  6303959523             MANDA  SHIVA    Tanisha patwa  {'message': 'cus ki kyc ke badh file rejcted s...      6          104      Aditya Birla Capital Limited     200000       2025-06-13 14:47:27  c32285a1-01a2-4917-ae87-abf8b002e34c
8                    None  6376078496                     None             None                                               None    NaN            3      EarlySalary Services Pvt Ltd    35000.0  2025-07-04T07:08:04.577Z  97d706d3-bb55-4410-b353-a4a5df13f9cd
9    Final not Interested  6397133615   SHASHIPAL SINGH  SINGH  Vandana Jaiswal  {'message': 'noo need need 20 lk ', 'created_b...      2            3      Aditya Birla Capital Limited   200000.0  2025-06-09T10:52:49.933Z  24b5bc27-cf79-4a34-8bba-e0473405beaf
12              KYC Issue  7020274036                     None  Vandana Jaiswal                                               None      4            6             Bajaj Finance Limited     200000  2025-06-20T10:31:49.246Z  5a857d27-a059-4236-94bb-f96384f0bc06
14              Follow Up  7030254912          AMOL BANSODE MR     Monika Saini                                               None      5            3      Aditya Birla Capital Limited   150091.7  2025-06-13T10:31:36.195Z  1786c961-eaab-44bc-b890-e2a29f62737f
15                   None  7045232061                     None             None                                               None    NaN            4             Bajaj Finance Limited   773000.0  2025-06-10T14:55:35.777Z  9bff7f5e-9d65-4e60-81b6-e659ba3d76c5
17              Follow Up  7068523768                     None     Monika Saini                                               None      1            3      EarlySalary Services Pvt Ltd    23000.0  2025-06-28T05:06:26.511Z  35c36c67-1bb1-4bca-8339-6cea372a25ff
23              Follow Up  7261873458                     None     Monika Saini                                               None      3            3             Bajaj Finance Limited   109000.0  2025-07-01T06:51:30.655Z  3050a699-bb74-4ecd-abd8-810736766ddf
25   Final not Interested  7275532334       SHEKHAR  PRAJAPATI    Tanisha patwa  {'message': 'cus ka bajaj se offer aaya hai re...      5            3             Bajaj Finance Limited   249000.0  2025-06-12T05:50:37.350Z  7516deec-84e9-49cc-95f3-775ba92e6924
27                 Others  7297816126                     None    Tanisha patwa  {'message': 'cus ka bajaj se offer h but not w...      6            5             Bajaj Finance Limited    80000.0  2025-06-17T06:04:33.421Z  bbefa521-b087-40a6-8d40-99bbcc6d1c59
35               Rejected  7404261405                     None     Monika Saini  {'message': 'kyc ke baad rejected', 'created_b...      3            6             Bajaj Finance Limited      50000  2025-06-23T12:26:36.439Z  fb0d8de5-463e-433f-b7bc-69b724d5c35b
42   Final not Interested  7600068109                     None    Tanisha patwa  {'message': 'cus ka bajaj se offer h rent of i...      2            3             Bajaj Finance Limited   102000.0  2025-07-07T10:29:09.179Z  8ac6799b-9ae4-42de-8fbe-6232dd94674d
52              Follow Up  7766813746            GULSHAN KUMAR     Monika Saini                                               None      3            3             Bajaj Finance Limited   342000.0  2025-06-28T08:09:17.653Z  0225e8be-1b6c-409a-b24c-c646ce98dda2
58        Offer Generated  7972466804                     None    Tanisha patwa                                               None      3            3      Aditya Birla Capital Limited   115531.5  2025-07-05T08:31:37.275Z  3d8820b7-c95d-4f85-ad33-b80770cbdd47
65                   None  7993460013                     None             None                                               None    NaN            3             Bajaj Finance Limited    60000.0  2025-07-02T07:50:29.441Z  817be290-f63c-4be7-b539-37b9080beef9
66               Rejected  7999386949             Sachin yadav    Tanisha patwa  {'message': '104 par cus ki file rejcted hogyi...      8          104      Aditya Birla Capital Limited     172668       2025-06-22 09:52:15  99e33bf5-2651-4195-aebc-82aa9ddf59b4
67               Rejected  8007796864      VIJAY PRABHU SAWANT     Monika Saini                                               None      7          104             Bajaj Finance Limited   200000.0       2025-06-20 12:18:17  caa74408-91b3-4111-af5e-21731af983a9
68                   None  8011992105                     None             None                                               None    NaN            6             Bajaj Finance Limited      50000  2025-06-23T06:42:38.001Z  f860edb0-b1a9-4091-b05e-5d65f4d351d6
70              Follow Up  8058125003        RATAN LAL SHYORAN     Monika Saini                                               None      2            3             Bajaj Finance Limited   104000.0  2025-06-26T11:11:19.827Z  f132f557-e3a5-49af-8fee-343263e5d98f
73        Offer Generated  8079065870                     None    Tanisha patwa                                               None     12            5      Aditya Birla Capital Limited     200000  2025-06-14T12:47:49.989Z  31509eba-d281-4d91-a4af-5cb54934a124
82   Final not Interested  8208217517                     None     Monika Saini  {'message': 'JADA AMOUNT KI REQUIMENT H', 'cre...      3            3      Aditya Birla Capital Limited  153198.95  2025-06-23T10:12:11.126Z  14152b24-cd0d-4a10-8525-b44edcf4b64e
84                   None  8239025373                     None             None                                               None    NaN            6             Bajaj Finance Limited    59000.0  2025-06-17T08:24:18.042Z  fdfe24f7-871a-4f5c-8bb6-fd2752603ada
85              Follow Up  8249882781            PRAKASH  URMA  Vandana Jaiswal                                               None      2            6             Bajaj Finance Limited     200000  2025-06-20T08:19:24.870Z  456b5d44-ecf1-411a-a357-22b1994f79a5
87        Offer Generated  8284936936             JATIN  ARORA    Tanisha patwa                                               None      9            3      Aditya Birla Capital Limited   200000.0  2025-06-16T09:52:20.871Z  d54ad3d2-3cec-4d84-a49b-cc56bdc074e5
95                   None  8446538061                     None             None                                               None    NaN            6             Bajaj Finance Limited     200000  2025-06-20T11:40:06.339Z  984ca9c7-1115-48e0-9eac-1a37dc8a10b7
101       Offer Generated  8605476384                     None  Vandana Jaiswal                                               None      6            5             Bajaj Finance Limited   113000.0  2025-06-14T04:30:30.391Z  f89b2ac1-5cf4-45fc-8ec1-bd388c9f9089
102  Final not Interested  8637533360     Kazi Saifuddin Islam     Monika Saini  {'message': 'roi high not required', 'created_...      4            6             Bajaj Finance Limited     200000  2025-06-20T15:50:31.304Z  2d29ee2e-7264-49d1-9107-1bdcc3e272d7
104  Final not Interested  8670912430                     None     Monika Saini  {'message': 'BAJAJ FINACE SE OFFER CHECK KIYA ...      1            3             Bajaj Finance Limited    91000.0  2025-07-05T12:27:50.420Z  7ba24ba7-712d-405d-bc9a-a1b64fa730c6
106  Final not Interested  8766219473                     None    Tanisha patwa  {'message': 'cus ka abfl se 2lakh ka offer aay...      5            3      Aditya Birla Capital Limited     200000  2025-07-04T06:20:17.771Z  d44cb5e0-c748-47e3-88b2-7814ba1bd8a6
107  Final not Interested  8777785770               PATEL RAVI    Tanisha patwa  {'message': 'bajaj se offer aaya h 29.99% rent...      1            3             Bajaj Finance Limited   146000.0  2025-06-23T09:44:42.003Z  176e71d7-5491-43cd-9f39-824fb8b5bcce
112  Final not Interested  8837610341                Wazid Ali    Tanisha patwa  {'message': 'cus ka bajaj se offer aaya hai bu...      2            3             Bajaj Finance Limited    60000.0  2025-06-23T12:13:13.676Z  e096e21c-4ebe-4901-9bbb-573d2d8da65c

In [14]:
import pandas as pd
import warnings
import numpy as np
from sqlalchemy import create_engine, Table, MetaData
import urllib.parse
from datetime import datetime
from sqlalchemy.sql import text
import re
import json
import pyodbc
import warnings
import requests
import schedule
from apscheduler.schedulers.blocking import BlockingScheduler
import pandas as pd
from io import BytesIO
import os
import tempfile
import pythoncom
import win32com.client
import time

In [15]:
    
username = 'prashant'
password = 'CredEnt!@L@2025!$'
server = '172.16.1.13'
database = 'Ops_Analytics'
driver = 'ODBC Driver 17 for SQL Server'

quoted_password = urllib.parse.quote_plus(password)
connection_string = f"mssql+pyodbc://{username}:{quoted_password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(connection_string)
conn = create_engine(connection_string)

sql_script = """
IF OBJECT_ID('tempdb..#final') IS NOT NULL
    DROP TABLE #final;
IF OBJECT_ID('tempdb..#final') IS NOT NULL
    DROP TABLE #Daily_disp;
WITH DISP AS (

    SELECT 

        disposition_name AS Status, 

        RIGHT(client_number, 10) AS Phone, 

        end_stamp AS Interaction_Date, 

        campaign_name AS Company_Name, 

        notes AS Notes,

        agent_name,

        'dialer' AS call_tag, 

		Disposition_Name

    FROM RUNO.dbo.Dialer_CDR_report WITH (NOLOCK)

    WHERE campaign_name IN ('ONDC') 

          AND TRY_CAST(end_stamp AS DATE) >= TRY_CAST(GETDATE() - 30 AS DATE) 

          AND status = 'answered'

		  And [date] >= '2025-07-01'

),
 
decision_number AS (

    SELECT 

        t.phone_number,  -- Selecting only required columns

        t.transaction_id, 

        t.current_stage, 

        t.created_time, 

        t.api_environment, 

        a.mobile_no ,

        r.min_updated_time

    FROM AWSSQL.[ONDC].[dbo].[ondc_users_transaction_id] AS t

    INNER JOIN Ops_Analytics.dbo.ONDC_Allready_Allocated AS a 

        ON t.phone_number = a.mobile_no

    INNER JOIN (

        SELECT transaction_id, MIN(updated_time) AS min_updated_time

        FROM AWSSQL.[ONDC].[dbo].[ondc_responses]

        WHERE action = 'on_select'

        GROUP BY transaction_id

    ) AS r 

    ON t.transaction_id = r.transaction_id

    WHERE (t.current_stage >= 2 OR t.current_stage = 104)

          AND Try_cast(t.created_time as date) >= TRY_CAST(getdate() -30 as date)

          --AND t.created_time < '2025-05-01'

          AND t.api_environment = 'PROD'

),
 
Ranked_DISP AS (

    SELECT 

        t.Phone, 

        t.Agent_Name, 

        t.Interaction_Date AS Interaction_Date, 

        Try_cast(a.min_updated_time as date) AS decision_date,

		t.Disposition_Name,

        ROW_NUMBER() OVER (PARTITION BY t.Phone ORDER BY t.Interaction_Date DESC) AS rn

    FROM DISP t 

    LEFT JOIN decision_number a 

        ON t.Phone = a.phone_number

    WHERE try_cast(t.Interaction_Date as date) <= try_cast(a.min_updated_time as date)  -- Ensuring Interaction_Date is less than decision_date

)

SELECT Phone, Agent_Name, Interaction_Date, decision_date , Disposition_Name
INTO #final
FROM Ranked_DISP 

WHERE rn = 1 and decision_date >='2025-06-01'

ORDER BY decision_date;
 

 SELECT *
 into #Daily_disp
FROM #final

 

"""

# Use engine.begin() to run and commit
with engine.begin() as connection:
    connection.execute(text(sql_script))

# Now execute SELECT queries and export
query = "SELECT * from #Daily_disp"
df_ONDC = pd.read_sql(query, engine)


# df_ONDC = pd.read_sql(insert_query2, conns)

buffer = BytesIO()
with pd.ExcelWriter(buffer, engine='openpyxl') as writer:
	df_ONDC.to_excel(writer, index=False)
buffer.seek(0)

# Step 2: Write buffer to temp file
with tempfile.NamedTemporaryFile(delete=False, suffix='.xlsx') as tmp:
	tmp.write(buffer.read())
	tmp_path = tmp.name

max_retries = 3
try:
	pythoncom.CoInitialize()
	for attempt in range(max_retries):
		try:
			outlook = win32com.client.Dispatch("Outlook.Application")
			mail = outlook.CreateItem(0)
			# mail.To = 'kunal.sharma@wecredit.co.in'
			mail.To = 'kalpana.meda@wecredit.co.in'
   			# mail.To = 'kunal.sharma@wecredit.co.in'
			mail.Subject = 'ONDC'
			mail.Body = 'Hi,\n\nToday\'s INCENTIVE.\n\nThanks.'
			mail.Attachments.Add(tmp_path)

			mail.Send()
			print(f"✅ Email sent successfully. Temporary file used: {tmp_path}")
			break
		except Exception as e:
			print(f"⚠️ Attempt {attempt + 1} failed: {e}")
			if attempt < max_retries - 1:
				time.sleep(3)
			else:
				print("❌ Failed to send email after multiple attempts.")
finally:
	# Optional: Clean up temp file
	if os.path.exists(tmp_path):
		os.unlink(tmp_path)

# scheduler = BlockingScheduler()
# scheduler.add_job(run_task, 'cron', hour=9, minute=15)
# # scheduler.add_job(run_task, 'interval', seconds=10)
# # scheduler.add_job(run_task, 'cron', hour="9-18", minute=0)
# scheduler.start()

✅ Email sent successfully. Temporary file used: C:\Users\KUNAL~1.SHA\AppData\Local\Temp\tmp_ywhr0k6.xlsx

In [16]:
#   multi incentive 
    
username = 'prashant'
password = 'CredEnt!@L@2025!$'
server = '172.16.1.13'
database = 'Ops_Analytics'
driver = 'ODBC Driver 17 for SQL Server'

quoted_password = urllib.parse.quote_plus(password)
connection_string = f"mssql+pyodbc://{username}:{quoted_password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(connection_string)
conn = create_engine(connection_string)

sql_script = """
-- Drop temp tables if they exist
DROP TABLE IF EXISTS #new_table;
DROP TABLE IF EXISTS #MultiINCENTIVE;
DROP TABLE IF EXISTS #FormFill_1;

-- Drop the temporary table if it exists

DROP TABLE IF EXISTS #new_table;

-- DIALLER CDR

SELECT 

    date,
    End_stamp,
    Client_number,
    Disposition_name,
    Sub_Disposition_Name,
    Answered_Seconds,
    Campaign_name,
    agent_name
INTO #new_table
FROM RUNO.[dbo].[CDR_new_dialer]
WHERE Campaign_name IN ( 'multi google','multi rejected')
  AND date >= '2025-07-01';
-- Drop the temporary table if it exists

DROP TABLE IF EXISTS #FormFill_1;
-- LEAD TABLE
select * 
INTO #FormFill_1
from
(
SELECT *,
       CASE WHEN IsLeadCreated = 1 THEN 1 ELSE 0 END AS formfill,
       ROW_NUMBER() OVER (PARTITION BY right(mobile,10) ORDER BY CreatedOn DESC) AS rank_1
FROM (
    SELECT 
        mobile,
        LeadId,
        IsDedupe,
        IsLeadCreated,
        CreatedOn,
        SubLenderId
    FROM awssql.[multilender-v2].dbo.Leads WITH (NOLOCK)
    WHERE TRY_CAST(CreatedOn AS DATE) >= '2025-04-01'
	and SubLenderId = 16
    UNION ALL
    SELECT 
        mobile,
        LeadId,
        IsDedupe,
        IsLeadCreated,
        CreatedOn,
        SubLenderId
    FROM awssql.[multilender-v2].dbo.Leads_Arch WITH (NOLOCK)
    where TRY_CAST(CreatedOn AS DATE) >= '2025-04-01'
	and SubLenderId = 16
) kp
where   SubLenderId IN (7,16)
) c where c.rank_1 = 1
-- DIALER CALLING REPORT
SELECT *
into #MultiINCENTIVE
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY mobile ORDER BY End_stamp DESC) AS end_1
    FROM #FormFill_1 apl
    LEFT JOIN (
        SELECT *
        FROM #new_table
        WHERE agent_name NOT IN ('None')
    ) tpl
    ON apl.mobile = RIGHT(tpl.client_number, 10)
    AND TRY_CAST(apl.CreatedOn AS DATE) >= TRY_CAST(tpl.End_stamp AS DATE)
) kop
WHERE end_1 = 1
and Date IS NOT null





 


"""

# Use engine.begin() to run and commit
with engine.begin() as connection:
    connection.execute(text(sql_script))

# Now execute SELECT queries and export
query = "SELECT * from #MultiINCENTIVE"
df_multi = pd.read_sql(query, engine)
df_multi_mail = df_multi[["mobile","End_stamp","Disposition_name","agent_name"]]  

buffer = BytesIO()
with pd.ExcelWriter(buffer, engine='openpyxl') as writer:
	df_multi_mail.to_excel(writer, index=False)

  

buffer.seek(0)

# Step 2: Write buffer to temp file
with tempfile.NamedTemporaryFile(delete=False, suffix='.xlsx') as tmp:
	tmp.write(buffer.read())
	tmp_path = tmp.name

max_retries = 3
try:
	pythoncom.CoInitialize()
	for attempt in range(max_retries):
		try:
			outlook = win32com.client.Dispatch("Outlook.Application")
			mail = outlook.CreateItem(0)
            
			# mail.To = 'kunal.sharma@wecredit.co.in'
			mail.To = 'sushmita.samal@wecredit.co.in'
			mail.Subject = 'MULTI INCENTIVE'
			mail.Body = 'Hi,\n\nToday\'s TODAY INCENTIVE.\n\nThanks.'
			mail.Attachments.Add(tmp_path)

			mail.Send()
			print(f"✅ Email sent successfully. Temporary file used: {tmp_path}")
			break
		except Exception as e:
			print(f"⚠️ Attempt {attempt + 1} failed: {e}")
			if attempt < max_retries - 1:
				time.sleep(3)
			else:
				print("❌ Failed to send email after multiple attempts.")
finally:
	# Optional: Clean up temp file
	if os.path.exists(tmp_path):
		os.unlink(tmp_path)

buffer = BytesIO()
with pd.ExcelWriter(buffer, engine='openpyxl') as writer:
	df_multi_mail.to_excel(writer, index=False)

  

# buffer.seek(0)

# # Step 2: Write buffer to temp file
# with tempfile.NamedTemporaryFile(delete=False, suffix='.xlsx') as tmp:
# 	tmp.write(buffer.read())
# 	tmp_path = tmp.name

# max_retries = 3
# try:
# 	pythoncom.CoInitialize()
# 	for attempt in range(max_retries):
# 		try:
# 			outlook = win32com.client.Dispatch("Outlook.Application")
# 			mail = outlook.CreateItem(0)
            
# 			# mail.To = 'kunal.sharma@wecredit.co.in'
# 			mail.To = 'chawandsingh.chouhan@wecredit.co.in'
# 			mail.Subject = 'MULTI INCENTIVE'
# 			mail.Body = 'Hi,\n\nToday\'s TODAY INCENTIVE.\n\nThanks.'
# 			mail.Attachments.Add(tmp_path)

# 			mail.Send()
# 			print(f"✅ Email sent successfully. Temporary file used: {tmp_path}")
# 			break
# 		except Exception as e:
# 			print(f"⚠️ Attempt {attempt + 1} failed: {e}")
# 			if attempt < max_retries - 1:
# 				time.sleep(3)
# 			else:
# 				print("❌ Failed to send email after multiple attempts.")
# finally:
# 	# Optional: Clean up temp file
# 	if os.path.exists(tmp_path):
# 		os.unlink(tmp_path)


# scheduler = BlockingScheduler()
# scheduler.add_job(run_task, 'cron', hour=9, minute=15)
# # scheduler.add_job(run_task, 'interval', seconds=10)
# # scheduler.add_job(run_task, 'cron', hour="9-18", minute=0)
# scheduler.start()

✅ Email sent successfully. Temporary file used: C:\Users\KUNAL~1.SHA\AppData\Local\Temp\tmp11814krk.xlsx